--find-links https://www.piwheels.org/simple/warc3-wet-clueweb09/

langchain-qdrant
langchain-core
qdrant-client
lancedb
python-decouple
datasets
pandas
# Required by BAAI/bge-reranker-v2.5-gemma2-lightweight.
transformers==4.46.0
langchain-huggingface
numpy
mypy
torch
accelerate
FlagEmbedding
rapidfuzz
simhash
pytest
ruff
