--find-links https://www.piwheels.org/simple/warc3-wet-clueweb09/

accelerate
datasets
FlagEmbedding
langchain-core
langchain-huggingface
lancedb
mypy
numpy
pandas
polars
pytest
python-decouple
rapidfuzz
ruff
simhash
torch
# Required by BAAI/bge-reranker-v2.5-gemma2-lightweight.
transformers==4.46.0
