--find-links https://www.piwheels.org/simple/warc3-wet-clueweb09/

accelerate
datasets
FlagEmbedding
langchain-core
langchain-huggingface
lancedb
numpy
pandas
polars
pytest
python-decouple
rapidfuzz
simhash
torch
transformers==4.51
